# 1. Garante que pacotes públicos como react, next e types venham do NPM padrão
registry=https://registry.npmjs.org/

# 2. Direciona apenas o seu escopo privado para o GitHub Packages
@jocile:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:always-auth=true